{% extends 'admin/layout.html.twig' %}

{% block body %}
    <main class="container">
        <h1>Book creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> 
                Créer
            </button>
        {{ form_end(form) }}

        <a href="{{ path('admin_book_index') }}" class="btn btn-primary">
    <i class="fa fa-arrow-left"></i> 
    Retour à la liste
</a></main>
{% endblock %}
